body {
    margin: 0;
    background: #aaaaaa;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: azure;
    padding: 10px;

}
.header #top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    
}

.header #bottom {
    display: flex;
    flex: 1;
    margin: 70px;
    justify-content: space-between
    
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    justify-content: center;
}

.signup{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    justify-content: center;
}

.image {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.image img {
    border: solid azure 2px;
    border-radius: 180px;
}

.middle {
    display: flex;
    flex-direction: column;
    background-color: #f9f6ee;
    gap: 20px;
    padding-bottom: 80px;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

}

.possums {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.text {
    background-color: #1f2937;
    color: azure;
    font-size: 20px;
    text-align: center;
    border: solid #1f2937 2px;
    border-radius: 8px 0;
}

.pimg {
    border: solid #1f2937 2px;
    border-radius: 0 80px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}
a {
    text-decoration: none;
    color: azure;
}

img {
    width: auto;
    height: 180px;
}

button {
    border-radius: 8px;
    background-color: #3882f6;
    border-style: none;
    color: azure;
    padding: 4px;
    width: 100px;
}

h1,h2,h3 {
    margin: 0;
}
p {
    margin: 0;
}

#title {
    font-size: 48px;
    font-weight: 900;
}